@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #333;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/*
div { outline: 1px solid red !important; }
*/
input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

span {
    cursor: pointer;
}

button:focus {
    outline: none;
}

::placeholder {
    font-size: 16px;
}

/* Container */
.container {
    margin: auto;
    max-width: 100vw;
    height: 100vh;
    background-color: rgb(230, 233, 236);
}

.container-content {
    display: flex;
    height: 100%;
}

/*navbar*/
.navbar-container {
    position: fixed;
    width: 100%;
    background-color: #292928;
    height: 50px;
}

.navbar {
    display: flex;
    margin: auto;
    justify-content: left;
    margin-left: 0.5em;
}

.navbar a {
    color: white;
}

/* Frontpage */
.front-page-container {
    background-image: url("./pexels-quintin-gellar-313782.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 100vh;
}

/* Info/login card */
.card {
    display: flex;
    margin: auto;
    width: 70%;
    overflow: hidden;
}

/* Info card */
.info-card {
    width: 50%;
    background-color: #292928;
    text-align: center;
}

.info-card h2 {
    color: white;
    margin-top: 3em;
    font-size: 1.5rem;
    color: white;

}
.info-card div {
    margin: 3em;
    text-align: center;
}

.info-card p {
    font-size: 1.5rem;
    color: white;
}

.info-card button {
    font-size: 1.5rem;
    text-decoration: underline;
    border: none;
    background: none;
    color: white;
}

.info-card button:hover{
    color: #ed872d
}

/* Login/Register card */ 

.sign-card {
    width: 50%;
    text-align: center;
    background-color: white;
}

.sign-card h2 {
    margin-top: 3em;
    border: 0;
    border-bottom: 1px solid #292928;

}

.sign-form {
    margin: 5em auto;
    width: 50%;
}

.sign-form div {
    margin-top: 2em;
}

.sign-form label {
    font-size: 1.2rem;
    display: block;
    text-align: left;
}

.sign-form input {
    margin-top: 3%;
    display: block;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #292928;
    font-size: 20px;
}

.signform #sign-feedback {
    text-align: left;

}

.sign-form button {
    margin-top: 10%;
    padding: 10px;
    border-radius: 10px;
    float: center;
    font-size: 20px;
    color: white;
    background-color: #047aed
}

/* Loader */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #292928;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Sidebar */
.sidebar-container {
    margin-top: 50px;
    width: 15%;
    height: 100%;
    border-right: 1px solid #292928;
    overflow-y: hidden;
}

.sidebar-content {
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #1a1a1a;
}

.sidebar-items {
    background-color: #333;
    height: 300px;
    overflow-y: hidden
}

.sidebar-items button {
    border: 0;
    background: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
    margin: auto;
    color: white;
}

.header-container {
    flex: 1;
    padding-top: 2em;
    background-color: rgba(255, 105, 255);
    color: white;
    overflow: hidden;
}

.header-user {
    display: flex;
}

#user-icon {
    font-size: 2rem;
    margin-left: 0.5em;
}

.header-user h3 {
    padding-left: 0.5em;
}

.header-budget {
    margin-top: 2em;
    margin-left: 0.5em;
}

.item {
    display: flex;
    width: 100%;
    height: 25%;
    border-bottom: #292928 1px solid;
    overflow: hidden;
}

.item-icon {
    width: 30%;
    height: 100%;
    text-align: center;
}

.sidebar-icon {
    margin: auto;
    height: 100%;
    font-size: 1.5rem;
}

.item-content {
    width: 70%;
    text-align: center;
    justify-content: center;
}

.item-content button {
    height: 100%;
    width: 75%;
    text-align: left;
    margin: auto;
    
}

.item-content button:hover {
    color: #ed872d
}

.progressbar-container {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.progressbar {
    margin: 50px auto;
    width: 150px;
    color: white;
}

.results {
    width: 50%;
    margin: -25px auto;
    text-align: left;
    color: white;
}

/* Main */
.main-container {
    width: 85%;
}

.list-container {
    margin: 5em auto;
    width: 90%;
    height: 80%;
    font-family: 'Rajdhani', sans-serif;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-header {
    margin: auto;
    padding-top: 2em;
    width: 85%;
}

.list-options {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    width: 85%;
}

.text {
    margin: auto;
    margin-right: 0.5em;
}

.dropdown {
    width: 200px;
}

.list-item {
   padding-top: 1em;
   border-bottom: #333 2px;
}

.table-container {
    margin: 0.2em auto;
    width: 85%;
    height: 500px;
    background-color: #333;
    overflow-y: scroll;
}

.review-table {
    margin: auto;
    width: 100%;
    height: 20px;
    text-align: center;
}

tr.table-row td {
    border-bottom: 1px solid black;
}

.review-table th {
    font-size: 1.5rem;
    background-color: rgb(255, 105, 255);
    color: white;
}

.review-table td {
    padding: 0.5em;
    color: white;
    background-color: #2e2e2e;
}

/* Input modal */
.modal-form {
    text-align: center;
    color: white;
    background-color: #292928;
    border-radius: 0 5% 5% 0;
    height: 100%;
    overflow:hidden;
}

.modal-form select {
    margin-top: 1em;
    border: 0;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding-left: 0.5em;

}

.modal-form div {
    margin-top: 0.5em;
}

.custom-category {
    display: flex;
    margin-top: 0.5em;
}

.custom-category div {
    margin-left: 1em;
}

.modal-form label {
    font-size: 1.2rem;
    display: block;
}

.modal-form input {
    margin-top: 1em;
    border: 0;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding-left: 0.5em;
}

.modal-form input::placeholder {
    color: rgb(117, 117, 117);
    padding-left: 0.5em;
}

.modal-form button {
    border: none;
    margin-top: 2em;
    padding: 10px;
    border-radius: 8px;
    float: center;
    font-size: 20px;
    color: white;
    background-color:  rgba(255, 105, 255, 0.3);
}

/* Smaller screen */
@media only screen and (max-width: 1300px) {

  .container-content {
      flex-direction: column;
  }

  .sidebar-container {
      position: fixed;
      width: 100%;
  }

  .card {
      width: 100%;
      flex-direction: column;
      position: absolute;
  }

  .info-card {
      width: 100%;
  }

  .sign-card {
        width: 100%;
  }
  .sidebar-content {
      display: flex;
      width: 100%;
      height: 200px;
  }
  
  .sidebar-header {
      width: 25%;
  }

  .header-user {
      flex-direction: column;
  }

  .header-user h3 {
      padding-top: 1em;
  }

  .sidebar-items {
      width: 40%;
      flex-direction: row;
      height: 200px;
  }

  .progressbar-container {
        display: flex;
        flex-direction: row;
        width: 35%;
  }

  .progressbar {
      margin: auto;
      height: 150px;
      width: 150px;
  }

  .results {
      margin: auto;
      height: 150px;
      width: 150px;
  }

  .main-container {
      border: 1px solid red;
      width: 100%;
      height: 100%;
      top: 251px;
      position: absolute;
  }

  .list-container {
      margin: auto;
      width: 100%;
      height: 100%;
  }

  .table-container {
      height: 50%;
  }

}







